@model MarkdownAspNetCoreBlog.ViewModels.Posts.DetailsPostViewModel

@{
    ViewData["Title"] = Model.Post.Title;
}

<header class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>@Model.Post.Title</h1>
                    <span class="meta">
                        @Model.Post.CreatedAt.ToString("d. MMMM yyyy") von <a href="#">maQus</a>, Thema:
                        @foreach (var postTag in Model.Post.PostTags) {
                            <a asp-route="index-tag" asp-route-slug="@postTag.Tag.Slug()">@postTag.Tag.Title</a>
                        }
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <md>@Model.Post.Content</md>
                <hr />
                <h3>Kommentare</h3>
                @foreach (var comment in Model.Post.Comments) {
                    <p>@comment.Content (Von @comment.AuthorName am @comment.CreatedAt.ToString("d.MMMM yyyy"))</p>
                }
                <form method="post" asp-action="Details" asp-controller="Posts">
                    <div class="form-group">
                        <label>Name</label>
                        <input class="form-control" type="text" asp-for="@Model.NewComment.AuthorName" required />
                    </div>
                    <div class="form-group">
                        <label>Kommentar</label>
                        <textarea class="form-control" asp-for="@Model.NewComment.Content" rows="3" draggable="false" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-default btn-sm">Hinzufügen</button>
                </form>
            </div>
        </div>
    </div>
</article>