@model IEnumerable<MarkdownAspNetCoreBlog.Models.Post>

@{
    ViewData["Title"] = "Markdown ASP.NET Core Blog";
}

<a asp-route="list">Posts verwalten</a>

@foreach (var post in Model) {
    <article>
        <header>
            <h3>
                <a asp-route="details"
                   asp-route-year="@post.CreatedAt.Year.ToString()"
                   asp-route-month="@post.CreatedAt.Month.ToString("00")"
                   asp-route-slug="@post.Slug()">@post.Title</a>
            </h3>
        </header>
        <md>@post.Content</md>
    </article>
}