@model IEnumerable<MarkdownAspNetCoreBlog.Models.Post>

@{
    ViewData["Title"] = "maQus Blog";
}

@foreach (var post in Model) {
    <h2><a asp-route="details" asp-route-year="@post.CreatedAt.Year.ToString()" asp-route-month="@post.CreatedAt.Month.ToString("00")" asp-route-slug="@post.Slug()">@post.Title</a></h2>
    <p>@post.CreatedAt.ToString("d. MMMM yyyy") von <a href="#">maQus</a></p>
    <md>@post.Content</md>
}