@model MarkdownAspNetCoreBlog.ViewModels.Posts.ListPostsViewModel

@{
    ViewData["Title"] = "Posts verwalten";
}


<table>
    <tr>
        <th>Nr.</th>
        <th>Title</th>
        <th>Datum</th>
        <th>Veröffentlicht</th>
        <th>Tags</th>
        <td></td>
    </tr>
    @{int i = 1;}
    @foreach (var post in Model.Posts) {
        <tr>
            <td>@i</td>
            <td>@post.Title</td>
            <td>@post.CreatedAt.ToString("d MM yyyy hh:mm")</td>
            <td>@post.IsPublished.ToString()</td>
            <td>@post.PostTags.Count</td>
            <td><a asp-route="update-post" asp-route-id="@post.Id">Bearbeiten</a> | <a asp-route="delete-post" asp-route-id="@post.Id">Löschen</a></td>
        </tr>
        i++;
    }
</table>
<a class="btn btn-primary" asp-route="create-post" role="button">Neuen Post</a>